template.yaml
Transform: AWS::Serverless-2016-10-31
Metadata:
  Dockerfile: Dockerfile

Parameters:
  Environment:
    Type: String
    Default: dev

Resources:
  SumosimFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: intern-diego-van-overberghe-sumo-sim-role-fanout  # explicit, boundary-compliant
      PermissionsBoundary: arn:aws:iam::154794777636:policy/InternSandboxBoundary
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: s3-access
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: arn:aws:s3:::transcality-intern/shared/*
              - Effect: Allow
                Action: s3:PutObject
                Resource: arn:aws:s3:::transcality-intern/diego-van-overberghe/*

  PostprocessFinaliseFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: intern-diego-van-overberghe-postprocess-finalise-role-fanout
      PermissionsBoundary: arn:aws:iam::154794777636:policy/InternSandboxBoundary
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: s3-access
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:GetObject
                Resource: arn:aws:s3:::transcality-intern/diego-van-overberghe/*
              - Effect: Allow
                Action: s3:PutObject
                Resource: arn:aws:s3:::transcality-intern/diego-van-overberghe/*

  FailureFunctionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: intern-diego-van-overberghe-failure-role-fanout
      PermissionsBoundary: arn:aws:iam::154794777636:policy/InternSandboxBoundary
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: s3-access
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: s3:PutObject
                Resource: arn:aws:s3:::transcality-intern/diego-van-overberghe/*

  StateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: intern-diego-van-overberghe-statemachine-role-fanout
      PermissionsBoundary: arn:aws:iam::154794777636:policy/InternSandboxBoundary
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: invoke-lambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt SumosimFunction.Arn
                  - !GetAtt PostprocessFunction.Arn
                  - !GetAtt FinaliseFunction.Arn
                  - !GetAtt FailureFunction.Arn

  SumosimFunction:
    Type: AWS::Serverless::Function
    Properties:
      Timeout: 300
      MemorySize: 1024
      Role: !GetAtt SumosimFunctionRole.Arn
      PackageType: Image
      ImageUri: IMAGE_URI_PLACEHOLDER
      FunctionName: intern-diego-van-overberghe-sumo-sim-fanout
      ImageConfig:
        Command:
          - handlers.sumo_sim.sumo_sim_handler
    
  PostprocessFunction:
    Type: AWS::Serverless::Function
    Properties:
      Timeout: 60
      MemorySize: 512
      Role: !GetAtt PostprocessFinaliseFunctionRole.Arn
      PackageType: Image
      ImageUri: IMAGE_URI_PLACEHOLDER
      FunctionName: intern-diego-van-overberghe-postprocess-fanout
      ImageConfig:
        Command:
          - handlers.postprocess.postprocess_handler

  FinaliseFunction:
    Type: AWS::Serverless::Function
    Properties:
      Timeout: 60
      MemorySize: 512
      Role: !GetAtt PostprocessFinaliseFunctionRole.Arn
      PackageType: Image
      ImageUri: IMAGE_URI_PLACEHOLDER
      FunctionName: intern-diego-van-overberghe-finalise-fanout
      ImageConfig:
        Command:
          - handlers.finalise.finalise_handler

  FailureFunction:
    Type: AWS::Serverless::Function
    Properties:
      Timeout: 30
      MemorySize: 256
      Role: !GetAtt FailureFunctionRole.Arn
      PackageType: Image
      ImageUri: IMAGE_URI_PLACEHOLDER
      FunctionName: intern-diego-van-overberghe-failure-fanout
      ImageConfig:
        Command:
          - handlers.failure.failure_handler

  StateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Role: !GetAtt StateMachineRole.Arn
      Name: intern-diego-van-overberghe-pipeline-fanout
      Definition:
        StartAt: "SumoSimState"
        States:
          SumoSimState:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt SumosimFunction.Arn
              Payload:
                scenario_zip_url.$: "$.scenario_zip_url"
                output_prefix.$: "$.output_prefix"
            ResultPath: "$.sim_result"
            Retry:
              - ErrorEquals: ["States.ALL"]
                IntervalSeconds: 2
                BackoffRate: 2.0
                MaxAttempts: 2
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: FailureState
            Next: PostprocessState

          PostprocessState:
            Type: Map
            ItemsPath: "$.sim_result.Payload.intervals"
            MaxConcurrency: 0
            ResultPath: "$.postprocess_results"
            Parameters:
              edge_output_url.$: "$.sim_result.Payload.edge_output_url"
              output_prefix.$: "$.output_prefix"
              interval.$: "$$.Map.Item.Value"
            Iterator:
              StartAt: InvokePostprocessLambda
              States:
                InvokePostprocessLambda:
                  Type: Task
                  Resource: arn:aws:states:::lambda:invoke
                  Parameters:
                    FunctionName: !GetAtt PostprocessFunction.Arn
                    Payload.$: "$"
                  Retry:
                    - ErrorEquals: ["States.ALL"]
                      IntervalSeconds: 2
                      BackoffRate: 2.0
                      MaxAttempts: 2
                  End: true
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: FailureState
            Next: FinaliseState

          FinaliseState:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt FinaliseFunction.Arn
              Payload:
                parquet_urls.$: "$.postprocess_results[*].Payload.parquet_url"
                output_prefix.$: "$.output_prefix"
            ResultPath: "$.finalise_result"
            Retry:
              - ErrorEquals: ["States.ALL"]
                IntervalSeconds: 2
                BackoffRate: 2.0
                MaxAttempts: 2
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: "$.error"
                Next: FailureState
            End: true

          FailureState:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters:
              FunctionName: !GetAtt FailureFunction.Arn
              Payload:
                execution_id.$: "$$.Execution.Id"
                error.$: "$.error"

            ResultPath: "$.failure"
            Retry:
              - ErrorEquals: ["States.ALL"]
                IntervalSeconds: 2
                BackoffRate: 2.0
                MaxAttempts: 2
            End: true

Outputs:
  StateMachineArn:
    Value: !Ref StateMachine

  SumosimArn:
    Value: !GetAtt SumosimFunction.Arn

  PostprocessArn:
    Value: !GetAtt PostprocessFunction.Arn

  FinaliseArn:
    Value: !GetAtt FinaliseFunction.Arn

  S3OutputPrefix:
    Value: "s3://transcality-intern/diego-van-overberghe/"